{% extends 'base.html' %}
{% load static %}
{% block metatag %}
<meta name="description" content="Software Developer Blog - Interesting tutorials and technical innovations and describing the experience of becoming a developer from scratch in a foreign country.">
{% endblock %}
{% block content %}
<section id="hero">
  <div class="hero-container about-hero-img">
    <img src="{% static 'img/about_3.jpg' %}" alt="Hero Dev Blog Image">
  </div>
</section>
<main id="about">
  <section id="about-me">
    <div>
      <h2>Few words about me and...</h2>
      <p>No, it will be only about me ( ‾ ʖ̫ ‾). <br>
        I am a young developer who loves to code and spend time either in front of a computer or travelling with my other half. I thought that I would start writing about what I do and what I know. You will find here interesting articles, tutorials related to programming as well as how I became a developer and what I would recommend to future developers who would like to appear in this industry without previous programming experience.</p>
    </div>
    <div id="hidden-anchor">
      <div id="contact-anchor"></div>
    </div>
  </section>
  <hr>
  <section id="about-contact">
    <h2>Contact</h2> 
    <p>If you have questions and tips regarding this blog, then please let me know what I can improve. Also, maybe you have some work and I look like the right person for you. <span style="white-space: nowrap">If that was YES!</span> fill the form and 
    <span style="white-space: nowrap">hit (☞ ͡° ͜ʖ ͡°)☞ the SEND</span> button :) Thank you!</p>
    <div class="contact-form">
      <form method="post"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <input type="submit" value="SEND" class="contact-submit"> 
      </form>
    </div>
  </section>
</main>
{% endblock %}
{% block js %}
<script src="{% static 'js/navanimation.js' %}"></script>
{% endblock %}