// Blog post style

#blog-post {
  @include minHeightWithHero();
  width: 860px;
  padding: 0 30px;
  margin: auto;
}

#blog-post-header {
  div {
    h1 {
      text-align: center;
      font-weight: 400;
      margin: 40px 0 30px;
      letter-spacing: 2px;
    }
    h2 {
      margin-bottom: 40px;
    }
  }
  
}

.blog-post-tags {
  height: 50px;
  margin-bottom: 20px;
  p {
    margin: 0;
    >a {
      text-decoration: none;
      color: $mainBlack;
      &:hover {
        color: $logoGreen !important;
      }
    }
    span {
      color: $logoGreen;
      font-weight: 800;
    }
  }
  p:first-child {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.blog-post-social-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 30px;
  .blog-post-social {
    font-size: 2.5rem;
    margin-bottom: 10px;
    position: absolute;
    top: -50px;
    a {
      color: $logoGreen;
      margin-right: 10px;
      transition: color ease 0.2s;
      &:hover {
        color: $mainBlack;
      }
    }
  }
}

#blog-post-content {
  p {
    font-size: 1.6rem;
    text-align: justify;
  }
  .img-l-e {
    float: left;
    max-width: 600px;
    padding: 30px 30px 30px 0;
    object-fit: cover;
    margin-left: -80px;
  }
  .img-r-e {
    float: right;
    max-width: 600px;
    padding: 30px 0 30px 30px;
    object-fit: cover;
    margin-right: -80px;
  }
  .img-l {
    float: left;
    max-width: 600px;
    padding: 30px 30px 30px 0;
    object-fit: cover;
  }
  .img-r {
    float: right;
    max-width: 600px;
    padding: 30px 0 30px 30px;
    object-fit: cover;
  }
  .img-c {
    width: 800px;
    height: 400px;
    padding: 30px 0 30px 0;
    object-fit: cover;
  }
  .green {
    color: $logoGreen;
  }
}

.clap-container {
  @include flexCenterVertical();
  position: fixed;
  top: 20%;
  margin: 0 0 0 -120px;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  a {
    text-decoration: none;
    color: $mainBlack;
    font-size: 2.5rem;
    &:hover {
      color: $logoGreen;
    }
  }
  .clap-count {
    font-weight: 600;
  }
}

.clap-jello {
  -webkit-animation: jello-horizontal 0.9s both;
	animation: jello-horizontal 0.9s both;
}

.count-add-one {
  animation: count-add-one 0.9s ease;
  
}

@keyframes count-add-one {
  0% {
    opacity: 0;
    color: $logoGreen;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
