{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="thankyou">
  <section>
    <div class="thankyou-text">
      <h3>THANK YOU!</h3>
      <h5>I received your message!</h5>
      <p>I am very grateful to you for your time and that you wanted to contact me. It means a lot ...</p>     
    </div>
    <div class="thankyou-gif">
      <div style="width:100%;height:0;padding-bottom:56%;position:relative;">
        <iframe src="https://giphy.com/embed/3otPoOxyDTXjzpMbIY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>
    </div>
  </section>
</main>
{% endblock %}
