{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="thankyou">
  <section>
    <div class="thankyou-text">
      <h3>THANK YOU!</h3>
      <h5>I got your subscription!</h5>
      <p>You are the best! You help me build this site and motivate me to work. Thank you for being interested and I hope that I will be able to provide even better content with each new entry.</p> 
      <p><b>With your subscription, I've got the power!!!</b></p>    
    </div>
    <div class="thankyou-gif">
      <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/A9grgCQ0Dm012" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
  </section>
</main>
{% endblock %}
