<footer>
  <div class="footer-social">
    <i class="fab fa-linkedin-in"></i>
    <i class="fas fa-at"></i>
  </div>
  <hr>
  <div class="footer-map">
    <div class="footer-logo">
      <span>toby</span>
      <span>dev</span>
      <span>blog</span>
    </div>
    <li><a href="#">Home</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Inspirations</a></li>
  </div>
  <hr>
  <div class="footer-copyright">
    Copyright © 2020 Tob Dev Blog. All Rights Reserved
  </div>
</footer>