<nav>
  <div 
    {% if 'tag_search' in request.path or 'thankyou' in request.path or 'thankyousub' in request.path or 'subscribe' in request.path %}
      class="nav-bg nav-bg-white"
    {% elif '/blog/' == request.path %}
      class="nav-bg nav-bg-white"
    {% else %}
      class="nav-bg"  
    {% endif %}
  >
  </div>
  <div 
    {% if 'tag_search' in request.path or 'thankyou' in request.path or 'thankyousub' in request.path or 'subscribe' in request.path %}
      class="nav-line nav-line-active"
    {% elif '/blog/' == request.path %}
      class="nav-line nav-line-active"
    {% else %}
      class="nav-line"  
    {% endif %}
  >
  </div>
  <a href="{% url 'index' %}">
    <div class="nav-logo">
      <span>toby</span>
      <span>dev</span>
      <span>blog</span>
    </div>
  </a>
  <div
    {% if 'tag_search' in request.path or 'thankyou' in request.path or 'thankyousub' in request.path or 'subscribe' in request.path %}
      class="nav-links nav-links-dark"
    {% elif '/blog/' == request.path %}
      class="nav-links nav-links-dark"
    {% else %}
      class="nav-links"  
    {% endif %}
  >
    <li 
      {% if '/' == request.path %}
        class="nav-link-active"
      {% endif %}
    >
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li
      {% if '/blog/' == request.path %}
        class="nav-link-active"
      {% endif %}
    >
      <a href="{% url 'blog' %}">Blog</a>
    </li>
    <li
      {% if '/about/' == request.path %}
        class="nav-link-active"
      {% endif %}
    >
      <a href="{% url 'about' %}">About</a>
    </li>
    <li
      {% if '/subscribe/' == request.path %}
        class="nav-link-active"
      {% endif %}
    >
      <a href="{% url 'subscribe' %}">Subscribe</a>
    </li>
    <!-- <li><a href="#">Inspirations</a></li> -->
  </div>
  <div class="nav-social">
    <a href="{% url 'about' %}#contact-anchor"><i class="fas fa-at"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.tobydevblog.com&title=&summary=Blog in which you will find interesting articles, tutorials related to programming and you will find how I became a developer and what I would recommend to future developers who would like to appear in this industry without previous programming experience.&source=" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://twitter.com/home?status=https://www.tobydevblog.com Blog in which you will find interesting articles, tutorials related to programming and you will find how I became a developer and what I would recommend to future developers who would like to appear in this industry without previous programming experience." target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.tobydevblog.com"><i class="fab fa-facebook-f"></i></a>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>