<nav>
  <div 
    {% if '/' == request.path or '/about' == request.path or '/blog/post' == request.path %}
      class="nav-bg"   
    {% else %}
      class="nav-bg nav-bg-white"
    {% endif %}
  >
  </div>
  <div 
    {% if '/' == request.path or '/about' == request.path or '/blog/post' == request.path %}
      class="nav-line"
    {% else %}
      class="nav-line nav-line-active"
    {% endif %}
  >
  </div>
  <a href="{% url 'index' %}">
    <div class="nav-logo">
      <span>toby</span>
      <span>dev</span>
      <span>blog</span>
    </div>
  </a>
  
  <div 
    {% if '/' == request.path or '/about' == request.path or '/blog/post' == request.path %}
      class="nav-links"
    {% else %}
      class="nav-links nav-links-dark"
    {% endif %}
  >
    <li 
    {% if '/' == request.path %}
    class="nav-link-active"
    {% endif %}
    ><a href="{% url 'index' %}">Home</a></li>
    <li
    {% if '/blog/' == request.path %}
    class="nav-link-active"
    {% endif %}
    ><a href="{% url 'blog' %}">Blog</a></li>
    <li
    {% if '/about' == request.path %}
    class="nav-link-active"
    {% endif %}
    ><a href="{% url 'about' %}">About</a></li>
    <li><a href="#">Inspirations</a></li>
  </div>
  <div class="nav-social">
    <a href="{% url 'about' %}#about-contact"><i class="fas fa-at"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="hamburger" style="display: none;">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>