<nav>
  <div class="nav-bg"></div>
  <div class="nav-line"></div>
  <div class="nav-logo">
    <span>toby</span>
    <span>dev</span>
    <span>blog</span>
  </div>
  <div class="nav-links" >
    <li><a href="#">Home</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Inspirations</a></li>
  </div>
  <div class="nav-social">
    <a href="#"><i class="fas fa-at"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="hamburger" style="display: none;">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>