// Colors

$logoGreen: #2de1c2;
$navColor: #f8f7f9;
$maximumYeollow: #f8f32b;
$mediumPurple: #8980f5;
$spaceCadet: #2b2d42;
$textWhite: #f8f7f9;

$footerColor: #2de1c2;
$footerText: #2b2d42;

$backgroundWhite: #f8f7f9;
$headerColor: #2b2d42;
$mainBlack: #040f0f;
$lightGreen: #c6ece6;
