// Colors

$logoGreen: #2DE1C2;
$navColor: #F8F7F9;
$maximumYeollow: #F8F32B;
$mediumPurple: #8980F5;
$spaceCadet: #2B2D42;
$textWhite:#F8F7F9;

$footerColor: #2DE1C2;
$footerText: #2B2D42;

$backgroundWhite: #F8F7F9;
$headerColor: #2B2D42;
$mainBlack: #040F0F;
$lightGreen: #c6ece6;