// Footer style

footer {
  @include flexBetweenVertical();
  height: 300px;
  background-color: $footerColor;
  color: $footerText;
  border-top: 5px solid $footerText;
  hr {
    border-top: 2px solid $footerText;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer-social {
  margin-top: 10px;
  i {
    font-size: 3.2rem;
    margin: 10px;
  }
}

.footer-map {
  position: relative;
  list-style: none;
  li {
    font-weight: 600;
    letter-spacing: 1px;
    a {
      text-decoration: none;
      color: $footerText;
    }
  }
}

.footer-copyright {
  height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-logo {
  position: absolute;
  background-color: $footerText;
  width: 100px;
  height: 100px;
  color: $footerColor;
  text-transform: uppercase;
  @include flexCenterVertical();
  font-family: $logoFont;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 10px 0 0 10px;
  span:nth-child(2) {
    letter-spacing: 9px;
    margin-left: 7px;
  }

  span {
    margin: -4px 0;
  }
}

