#hero {
  width: 100vw;
  height: 60vh;
  img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
  }
  h1 {
    white-space: nowrap;
  }
}

.hero-container {
  position: relative;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $textWhite;
    transform: translateY(-50%) translateX(-50%);
  }
  &::before {
    content: "";
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
}

.typing-heading {
  color: $logoGreen;
  font-weight: 400;
}

.typing {
  margin-left: 4px;
  margin-top: -3px;
  position: relative;
  color: $textWhite;
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    margin-top: 2px;
    margin-left: 5px;
    border-right: 2px solid $textWhite;
    animation: blink 0.5s infinite ease;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
