// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:wght@600;700;900&display=swap');

// Import colors variables
@import './_colors.scss';

// Font Variables
$header: 'Lora', sans-serif;
$mainText: 'Montserrat', sans-serif;
$logoFont: 'Nunito Sans', sans-serif;


// Mixins

@mixin dFlex($jContent) {
  display: flex;
  justify-content: $jContent;
}

@mixin flexCenterVertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin flexBetweenVertical {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin minHeight {
  min-height: calc(100vh - 300px - 50px);
}

@mixin minHeightWithHero {
  min-height: calc(100vh - 60vh - 300px - 50px);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  display: flex;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $backgroundWhite;
  margin: 0;
  padding: 0;
  font-family: $mainText;;
  color: $mainBlack;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Import style for navigation bar
@import './_navbar.scss';

// Import style for index/about hero
@import './hero';

// Index/Home page
@import './index';

// Import style for blog
@import './blog';

// Blog Post style
@import './post';

// About
@import './about';

// Subscribe
@import './subscribe';

// Thank you page
@import './thankyou';

// Import style for footer
@import './footer';