// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:wght@600;700;900&display=swap');

@import './_colors.scss';

// Font Variables
$header: 'Lora', sans-serif;
$mainText: 'Montserrat', sans-serif;
$logoFont: 'Nunito Sans', sans-serif;


// Mixins

@mixin dFlex($jContent) {
  display: flex;
  justify-content: $jContent;
}

@mixin flexCenterVertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin flexBetweenVertical {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  display: flex;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $backgroundWhite;
  margin: 0;
  padding: 0;
  font-family: $mainText;;
}

@import './_navbar.scss';

@import './hero';

// BLOG PAGE STYLE

#last-post {
  height: 100vh;
}

#mini-posts {
  @include flexCenterVertical();
  width: 100%;
  margin-top: 100px;
  hr {
    border-top: 2px solid $footerText;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}

.post-block {
  @include flexCenterVertical();
  height: 250px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.mini-post-container {
  min-width: 800px;
  max-width: 1100px;
  margin-top: 27px;
  
}

.mini-post-img {
  img {
    width: 90%;
    height: 250px;
    object-fit: cover;
  }
}

.mini-post-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  .mini-post-header {
    height: 40px;
    h3 {
      margin: 0;
    }
  }
  .mini-post-text {
    height: 160px;
    p {
      margin: 10px 0;
    }
  }
  .mini-post-footer {
    height: 50px;
    p {
      margin: 0;
      span {
        color: $logoGreen;
        font-weight: 800;
      }
    }
    p:first-child {
      font-weight: 600;
    }
  }
}

@import './footer';