{% extends 'base.html' %}
{% load static %}
{% block metatag %}
<meta name="description" content="Software Developer Blog - Interesting tutorials and technical innovations and describing the experience of becoming a developer from scratch in a foreign country.">
{% endblock %}
{% block content %}
<main id="blog">
  {% include 'partials/_search.html' %}
  <section id="mini-posts">
    {% if page_posts %}
    {% for post in page_posts %}
      <div class="post-block">
        <div class="mini-post-container">
          <div class="mini-post-img">
            <a href="{% url 'blog_post' post.id %}">
              <img src="{{ post.img_main.url }}" alt="" srcset="">
            </a>
          </div>
          <div class="mini-post-content">
            <div class="mini-post-text-wrapper">
              <div class="mini-post-header">
                <a href="{% url 'blog_post' post.id %}">
                  <h3>{{post.title}}</h3>
                </a>
              </div>
              <div class="mini-post-text">
                <a href="{% url 'blog_post' post.id %}">
                  <p>{{ post.description }}</p>
                </a>
              </div>
            </div>
            <div class="mini-post-footer">
              <p>
                {% for tag in post.tags.all %}
                  {% if post.tags.all|length > 0 %}
                    {% if forloop.last %}
                    <a href="{% url 'tag_search' tag %}">
                      <span>#</span>{{ tag }}
                    </a>
                    {% else %}
                    <a href="{% url 'tag_search' tag %}">
                      <span>#</span>{{ tag }},&nbsp;
                    </a>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </p>
              <p>
                {{ post.date|date:'d F Y'}} / {{ post.read_time }} min read
              </p>
            </div>
          </div>
        </div>
      </div>
      {% if forloop.last %}
      {% else %}
          <hr>
      {% endif %}
    {% endfor %}
    {% else %}
      <div class="no-tags">
        <h3># couldn't find this tag</h3>
        <h5>available tags:</h5>
        <p>
          {% for tag in all_tags %}
          <a href="{% url 'tag_search' tag.tag %}">
            <span>#</span>{{ tag.tag }},
          </a>  
        {% endfor %}
        </p>
      </div>
    {% endif %}
    {% if page_posts %}
    <div class="pagination">
      <span class="step-links">
        <span class="left">
          {% if page_posts.has_previous %}
            <a href="?page=1"><i class="fas fa-angle-double-left"></i></a>
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
          {% endif %}
        </span>
        <span class="current">
           {{ page_posts.number }} of {{ page_posts.paginator.num_pages }}
        </span>
        <span class="right">
          {% if page_posts.has_next %}
            <a href="?page={{ page_posts.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            <a href="?page={{ page_posts.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
          {% endif %}
        </span>
      </span>
    </div>
    {% endif %}
  </section>
</main>
{% endblock %}