{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="hero">
  <div class="hero-container">
    <img src="{% static 'img/about_1.jpg' %}" alt="Hero Dev Blog Image">
  </div>
</section>
<main id="about">
  <section id="about-me">
    <div>
      <h2>Few words about me and...</h2>
      <p>No, it will be only about me ( ‾ ʖ̫ ‾). <br>
        I am a young developer who loves to code and spend time either in front of a computer or travelling with my other half. So I thought that I would start writing about what I do and what I know. Maybe not too much :). I am joking... I hope that this blog will be able to help me an other developers that just started they jurney or they have willing to start. Also during my coding adventure, I found it difficult to find answers to some of the questions I had, so I'm going to describe them here. I also want to write down my development path, which I will be able to reconstruct in the future.</p>
    </div>
  </section>
  <hr>
  <section id="about-contact">
    <h2>Contact</h2> 
    <p>If you have any questions and tips regarding this blog, then please let me know what I can improve. If you have any rocket ideas that I can implement, then please fill the form too and hit (☞ ͡° ͜ʖ ͡°)☞ the SEND button :) Thank you!</p>
    <div class="contact-form">
      <form action="" method="POST">
        {% csrf_token %}
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="fname">E-mail</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Subject..">
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Message.." style="height:170px" maxlength="1500"></textarea>
        <button type="submit">SEND</button>
      </form>
    </div>
  </section>
</main>
{% endblock %}
{% block js %}
<script src="{% static 'js/navanimation.js' %}"></script>
{% endblock %}