{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Software Developer Blog">
  <meta name="keywords" content="HTML, CSS, JavaScript, Tech, Software Development, Blog, Python, Django, Flask, Junior Software Dev, UK, Poland">
  <meta name="author" content="Tobiasz Chodarewicz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#2de1c2">
  <meta name="msapplication-TileColor" content="#2de1c2">
  <meta name="theme-color" content="#2de1c2">
  <title>TOBY DEV BLOG</title>
  <script src="https://kit.fontawesome.com/27e36e1e66.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css-sass/skeleton.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css-sass/style.css' %}" type="text/css">
</head>
<body>
  {% include 'partials/_navbar.html' %}
  {% block content %}
  {% endblock %}
  {% include 'partials/_footer.html' %}
  {% block js %}
  {% endblock %}
  <script src="{% static 'js/slidenavbar.js' %}"></script>
</body>
</html>